body {
    margin: 0;
    background: #000000;
    /* background: -webkit-linear-gradient(to left, #434343, #000000); */
    /* background: linear-gradient(to left, #434343, #000000); */
}

.menu-items a {
    display: block;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: x-large;
    text-decoration: none;
}

.menu-container{
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    height: 100vh;
    position: relative;
    flex-direction: column;
    text-align: center;
}

.menu-container img{
    max-width: 70%;
}