body{
    margin: 0;
    background-color: black;
}

.certificate-container a img{
    width: 48vh;
    height: auto;
}

.certificate-container{
    display: flex;
    height: 40%;
    overflow-x:scroll;
    padding: 10px;
    border-color: black;
}

.certificate h2{
    text-align: center;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 3vw;
}