body {
    margin: 0;
    background: #000000;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Ensure the body covers the full viewport height */
}

.loading-words{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-items a {
    display: block;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: x-large;
    text-decoration: none;
}

.menu-container{
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    height: 100vh;
    position: relative;
    flex-direction: column;
    text-align: center;
}

.menu-container img{
    max-width: 70%;
}

footer a img{
    width: 30px;
    height: 30px;
    padding: 8px;
}

footer{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}